# Binaries
**/bin/
!vendor/bin/premake
bin-int/

# Files
*.user

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Don't know why it just don't want to ignore this Glad bin folder
BakuEngine/vendor/Glad/bin/
